# Visual Studio Code
.vscode/

# Arquivos de compilação
bin/
obj/

# Pacotes NuGet
*.nuget.props
*.nuget.targets
packages/

# Logs e arquivos temporários
*.log
*.swp
*.tmp
*.bak

# Arquivos de usuário e configurações de projeto
*.user
*.suo
*.cache
*.vssettings
*.sln.docstates
*.userprefs
*.sln.ide-shelf

# Cache de ferramentas
__history/
.history/
ToolVersion.txt
.projectpolicies

# Configurações de IDE
*.vsconfig

# Arquivos de build
*.builds
*.msbuild

# Test Explorer no VS Code
test-explorer.json

# Ferramentas e scripts
node_modules/
npm-debug.log
yarn-error.log

# Outros arquivos e diretórios
*.pidb
*.sqlite
.DS_Store
Thumbs.db
